*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
body{
    padding: 7px 0 0 0;
    margin: 0;
}
.ost_rank{
    position: absolute;
    width: 698px;
    height: 456px; /* add 79 */
    top:8px;
    font-size: 12px;
    line-height: 1.5;
    font-family: "\5b8b\4f53",sans-serif;
    color: #999;
    border: 1px solid #ccc;
    background: #fff;
}
.ost_rank:before,.ost_rank .before,
.ost_rank:after,.ost_rank .after{
    position:absolute;
    display:inline-block;
    width:0;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
    vertical-align:middle;
    content:"";
    border-top:0 none;
    _border-top-color: #dddddd;
    _border-bottom-color: #dddddd;
    _filter: chroma( color = #dddddd);
}
.ost_rank:before,.ost_rank .before{
    border-bottom:7px solid #CCC;
    border-left:7px dashed transparent;
    border-right:7px dashed transparent;
    right:1px;
    top:-7px
}
.ost_rank:after,.ost_rank .after{
    border-bottom:6px solid #ffffff;
    border-left:6px dashed transparent;
    border-right:6px dashed transparent;
    right:2px;
    top:-6px
}
.ost_rank a{
    color: #707e91;
    text-decoration: none;
}
.ost_rank a:hover{
    color: #ff4e00;
    text-decoration: underline;
}
.ost_rank .icon-font{
    font-family: arial;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
}
/* ==== rank col ==== */
.ost_rank_col{
    float: left;
    width: 212px;
    height: 422px;
    padding: 0 10px;
    margin: 17px 0 8px;
    border-left: 1px solid #e2e2e2;
    margin-left: -1px;
}
.ost_rank_col .col-head,
.ost_rank_col .col-head2{
    float: left;
    width: 207px;
    padding-right: 5px;
    padding-bottom: 2px;
    height: 18px;
}
.ost_rank_col .col-head{
    border-bottom: 1px solid #e5e5e5;
}
.ost_rank_col .col-body{
    float: left;
}
.ost_rank_col .rank-title{
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #555;
}
.ost_rank_col .rank-more{
    float: right;
}
/* rank list */
.ost_rank_col .rank-list{
    float: left;
    list-style: none;
    padding: 9px 0 0;
    margin: 0;
}
.ost_rank_col li,.ost_rank_col .rank-head{
    float: left;
    width: 212px;
    overflow: visible;
    padding: 0;
}
.ost_rank_col .rank-head{
    height: 27px;
}
.ost_rank_col .current .rank-game-cover{
    display: block;
}
.ost_rank_col .current .ctip-text{
    display: none;
}
.ost_rank_col .current .rank-order-color,
.ost_rank_col .current .rank-order-gray{
    position: relative;
    z-index: 10;
    margin-bottom: -14px;
}
.ost_rank_col .rank-order-hd{
    float: left;
    width: 33px;
}
.ost_rank_col .rank-name-hd{
    float: left;
    width: 170px;
}
.ost_rank_col .rank-game-data{
    height: 18px;
    overflow: hidden;
}
.ost_rank_col .rank-order-color,
.ost_rank_col .rank-order-gray{
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px 15px 0 4px;
    line-height: 12px;
    text-align: center;
}
.ost_rank_col .rank-order-gray{
    border:1px solid #999;
    background: #fff;
}
.ost_rank_col .rank-order-color{
    color: #fff;
    border:1px solid #ff4e00;
    background: #ff4e00;
}
.ost_rank_col .rank-name-game{
    display: inline;
    float: left;
    padding-bottom: 9px;
    _padding-bottom: 7px;
}
/* ==== rank tip ==== */
.icon-home,
.icon-download,
.icon-home2,
.icon-ios,
.icon-android{
    display: inline-block;
    font-size: 0.1em;
    margin: 0 5px;
    vertical-align: top;
    background-image: url(../images/ost_rank_sp.png);
    background-repeat: no-repeat;
}
.icon-home,
.icon-download{
    width: 13px;
    height: 13px;
}
.icon-home{
    background-position: 0 0;
}
.game-link:hover .icon-home{
    background-position: 0 -17px;
}
.icon-download{
    background-position: -14px 0;
}
.game-link:hover .icon-download{
    background-position: -14px -17px;
}
.icon-home2,
.icon-ios,
.icon-android{
    width: 15px;
    height: 16px;
    cursor: pointer;
}
.icon-home2{
    background-position: -28px 0;
}
.game-link:hover .icon-home2{
    background-position: -28px -17px;
}
.icon-ios{
    background-position: -44px 0;
}
.game-link:hover .icon-ios{
    background-position: -44px -17px;
}
.icon-android{
    background-position: -60px 0;
}
.game-link:hover .icon-android{
    background-position: -60px -17px;
}
.rank-game-cover{
    display: none;
    position: relative;
    width: 194px;
    height: 82px;
    margin-left: 4px;
    overflow: hidden;
    padding: 1px;
    border: 1px solid #ccc;
    background: #fff;
}
.rank-game-cover .game-meta,
.rank-game-cover .game-meta2{
    position: absolute;
    bottom: 1px;
    _bottom:0;
    left: 1px;
    margin: 0;
    padding: 0;
    width: 194px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#AF000000,endcolorstr=#AF000000);
}
.rank-game-cover .game-meta{
    height: 28px;
}
.rank-game-cover .game-meta2{
    height: 28px;
}
.rank-game-cover .game-meta .game-link{
    float: left;
    width: 97px;
    height: 13px;
    line-height: 13px;
    padding: 7px 0 8px;
    color: #aaa;
    text-align: center;
    cursor: pointer;
}
.rank-game-cover .game-meta .game-link:hover{
    color: #ff4e00;
}
.rank-game-cover .game-meta2 .game-link{
    float: left;
    width: 64px;
    border-left: 1px solid #707070;
    margin-left: -1px;
    height: 16px;
    line-height: 16px;
    padding: 6px 0 6px;
    text-align: center;
}